apiVersion: apps/v1
kind: Deployment 
metadata:
  name: grafana-deployment
  labels: 
    app: grafana
spec:
  replicas: 2
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana
          resources:
            requests:
              cpu: 100m 
              memory: 200Mi
            limits:
              cpu: 200m 
              memory: 500Mi
          ports:
          - containerPort: 3000